include README.rst

# Include the Sphinx documentation.
recursive-include docs *.rst *.py Makefile *.png
prune docs/_build

# Include tests without pyc etc.
prune test
include test/*.py

# Exclude junk.
global-exclude .DS_Store
